.container {
  margin-top: 150px;
  .title {
    text-align: center;
    font-size: 32px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 24px;
  }
  .score {
    text-align: center;
    background-color: #5a1ad7;
  }
  .info {
    font-size: 24px;
    color: #ffffff;
  }
  .buttons {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
}
